In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("D:\\data\\actor_character_age_difference.csv")
df.head()

               name           title character_gender  actor_age
0         Ben Platt  The Politician                M       26.0
1       Zoey Deutch  The Politician                F       24.0
2      Lucy Boynton  The Politician                F       25.0
3  Julia Schlaepfer  The Politician                F       24.0
4    Laura Dreyfuss  The Politician                F       31.0

In [16]:
max_threshold=df['actor_age'].quantile(.98)
max_threshold

32.0

In [17]:
df[df['actor_age']>max_threshold]

                       name           title character_gender  actor_age
5             Theo Germaine  The Politician                M       40.0
10              Keiko Agena   Gilmore Girls                F       87.0
20  Kedar Williams-Stirling   Sex Education                M       54.0
25            Simone Ashley   Sex Education                F       53.0

In [20]:
min_threshold=df['actor_age'].quantile(.02)
min_threshold

12.0

In [21]:
df[df['actor_age']<min_threshold]

                     name            title character_gender  actor_age
8          Ryan J. Haddad   The Politician                M       11.0
16        Asa Butterfield    Sex Education                M       11.0
61           Noah Schnapp  Stranger Things                M       11.0
232  Jackson Robert Scott      Locke & Key                M       11.0

In [22]:
df[(df['actor_age']<max_threshold)&(df['actor_age']>min_threshold)]

                 name           title character_gender  actor_age
0           Ben Platt  The Politician                M       26.0
1         Zoey Deutch  The Politician                F       24.0
2        Lucy Boynton  The Politician                F       25.0
3    Julia Schlaepfer  The Politician                F       24.0
4      Laura Dreyfuss  The Politician                F       31.0
..                ...             ...              ...        ...
235     Griffin Gluck     Locke & Key                M       19.0
236     Petrice Jones     Locke & Key                M       26.0
239       Kevin Alves     Locke & Key                M       28.0
240    Asha Bromfield     Locke & Key                F       25.0
241     Felix Mallard     Locke & Key                M       21.0

[216 rows x 4 columns]